.body {
  background-color: antiquewhite;
  padding: 15px;
  box-sizing: border-box;
  height: 100vh;
}
.container {
  background-color: bisque;
  padding: 15px;
  border: 2px solid black;
  margin-top: 20px;
}
.grid-container {
  display: grid;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;

  background-color: bisque;
}

.box {
  background-color: blue;
  color: whitesmoke;
  display: grid;
  align-items: center;
  justify-content: center;
}

.box:nth-child(even) {
  background-color: #e74c3c;
}
